# Data (too large for git)
data/raw/
data/processed/

# Saved model artifacts (pkl files) — NOT source code
/models/

# MLflow
mlruns/

# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Env
.env
*.egg-info/
dist/
build/

# OS
.DS_Store
Thumbs.db